# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Virtual environment
.venv/
env/
venv/

# Data and index files
data/extracted_text/
index/*.npy
index/*.json
index/*.faiss

# Logs
*.log
*.txt

# Streamlit cache
.streamlit/
